<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">fivecat.xyz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link" id="newsblurLink" href="#">Trending</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" id="startupLink" href="#">Startup</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" id="webdevLink" href="#">Web Developer</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" id="enterpriseLink" href="#">Enterprise</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" id="gamingLink" href="#">Gaming</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0" method="get" action="https://fivecat.xyz">
      <input class="form-control mr-sm-2" name="q" type="text" placeholder="Web Search" aria-label="Search" autofocus autocomplete="off">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>