script(src="/vendor/custom/js/functions.js")
script(src="/vendor/custom/js/class/newsblur.js")
script(src="/vendor/custom/js/class/hackernews.js")
script(src="/vendor/custom/js/class/reddit.js")
script(src="/vendor/custom/js/class/feedapi.js")
script(src="/vendor/custom/js/app.js")