doctype
html(lang="en")
  head
    include _assets/manifest
    include _assets/analytics
    include _assets/assets
    include _assets/meta
    include _assets/schema
    include _assets/validation
  body
    != partial("_shared/navbar.kube.ejs")
    
    != yield