<script type="text/x-jsrender" id="story">
  <article>
    <p>
      <img src="{{:favicon}}" />
      <a data-component="modal" data-target="#{{:id}}">{{:title}}</a> 
    </p>
  </article>
  
  <div id="{{:id}}" class="modal-box hide">
      <div class="modal">
          <span class="close"></span>
          <div class="modal-header">{{:title}}</div>
          <div class="modal-body">{{:content}}</div>
      </div>
  </div>
</script>

<script type="text/x-jsrender" id="image">
  <article>
  <p>
    <img src="{{:favicon}}" />
    <a data-component="modal" data-target="#{{:id}}">{{:title}}</a> 
  </p>
  </article>

  <div id="{{:id}}" class="modal-box hide">
    <div class="modal">
        <span class="close"></span>
        <div class="modal-header">{{:title}}</div>
        <div class="modal-body"><img src="{{:content}}"/></div>
    </div>
  </div>
</script>

<script type="text/x-jsrender" id="link">
  {{if title }}
  <article>
    <p>
      <img src="{{:favicon}}" />
      <a class="title" target="_blank" rel="noopener" href="{{:link}}"> {{:title}}</a>
    </p>
  </article>
  {{/if}}
</script>

<script type="text/x-jsrender" id="text">
  {{if title }}
  <article>
    <p>
      {{:title}} {{:selftext}}
    </p>
  </article>
  {{/if}}
</script>

<script src="/vendor/app/js/app.kube.js"></script>