//- JQuery
include /vendor/jquery/assets

//- Template
include /vendor/jsrender/assets

//- Icons
include /vendor/fontawesome/assets

//- CSS Frameworks
//- https://getbootstrap.com/docs/4.1
//- include /vendor/bootstrap/assets

//- https://bulma.io/documentation/
//- include /vendor/bulma/assets

//- https://imperavi.com/kube/
include /vendor/kube/assets

//- https://semantic-ui.com/
//- include /vendor/semantic/assets

//- https://getuikit.com/docs/
//- include /vendor/uikit/assets

//- http://usewing.ml/#guide
//- include /vendor/wing/assets
//- End CSS

//- Data Fetching
include /vendor/cockpit/assets
//- include /vendor/directus/assets

//- Site specific
include /vendor/app/assets